*{
    box-sizing: border-box;
    padding: 0px;
    cursor: pointer;
}

body {
  background-color: rgb(125, 125, 125);
}

/*Header Section*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0%;
    text-align: right;
    background-color: #07552c;
    font: #bdbdbd;
}

header h1 {
    display: inline-block;
    font-size: 36px;
    margin-left: 20px;
}

nav{
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

header ul {
    list-style-type: none;
    display: inline-flex;
    font: #bdbdbd;
}

header ul li {
    display: inline-block;
    margin-right: 20px;
}

.grid-projects{
    display: flex;
}

.grid-projects-main {
flex: 0 0 72%;
}

.grid-projects-secondary{
    flex: 0 0 36%;
}

.grid-projects-side {
    flex: 0 0 25%;
    float: left;
    
}

main {
    flex: 3;
    float: right;
    padding-right: 20px;
}

.article {
    box-sizing: content-box;
    padding: 15px;
}

.about-me {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.flex-container{
display: flex;
}

.projects{
background-position:center;
background-color: #bdbdbd;
}


.footer {
padding: 20px;
}