*{
    box-sizing: border-box;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    text-decoration: default;
}

body {
   background-image: linear-gradient(-45deg, #077d03, #055d02, #022d01);
   text-decoration: none;
  }
  
/*Header Section*/
nav {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-size: 24px;
}

h1{
    justify-content: left;
}

.links{
    justify-content: right;
    padding: 10pt;
    color: rgb(221, 86, 13);
    text-decoration: none;
}


.links:hover {
    opacity: 20%;
}

header ul {
    list-style-type: none;
    display: inline-flex;
}

header ul li {
    display: inline-block;
    margin-right: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}


.side{
    flex: 20%;
    padding: 20px;
    margin-right: 20px;
    
}

.main{
    display: inline-flex;
    flex: 70%;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-me{
    flex: 70%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.me {
    background-image: url(assets\i-rqDGSSg-X4.jpg);
    background-size: cover;
    width: 40%;
    color: black;
    max-width: 40%;
}

.me:hover{
    opacity: 50%;
    padding: 10px;
}


.item-1{
    background-image: url(assets\digital-marketing-meeting.jpg);
    background-size: cover;
    width: 80%;
}

.item-1:hover{
    opacity: 50%;
    padding: 10px;
}

.item-1 img{
    max-width: 100%;
    flex-wrap: wrap;
}

.item-text{
   justify-content: center;
   color: black;
   font-size: 20px;
}

.item-2{
    background-image: url(assets\Placeholder.1.jpg);
    background-size: cover;
    width: 40%;
    padding: 25px;
}

.item-2:hover{
    opacity: 50%;
    padding: 10px;
}

.item-2 img{
    flex-wrap: wrap;
    max-width: 100%;
}

.contact-me{
    marker-start: none;
    font-size: 16px;
}
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
  }