*{
    box-sizing: border-box;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
    cursor: default;
}

body {
  background-color: #ffffff;
}

/*Header Section*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: right;
    background-color: #07552c;
    font-style: italic;
}

header h1 {
    display: inline-block;
    font-size: 36px;
    margin-left: 20px;
}

nav {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 50%;
}

header ul {
    list-style-type: none;
    display: inline-flex;
}

header ul li {
    display: inline-block;
    margin-right: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}


.side{
    flex: 20%;
    padding: 20px;
    border-right: solid 5px #07552c;
    margin-right: 20px;
    
}

.main{
    display: inline-flex;
    flex: 70%;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-me{
    flex: 70%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font: black;
}

.me {
    background-image: url(assets\i-rqDGSSg-X4.jpg);
    background-size: cover;
    width: 40%;
    font: black;
}

.me img {
    border: 10px double #07552c;
    max-width: 40%;
}

.item-1{
    background-image: url(assets\digital-marketing-meeting.jpg);
    background-size: cover;
    width: 80%;
}

.item-1:hover{
    border: 5pt black;
    opacity: 50%;
    padding: 10px;
}

.item-1 img{
    max-width: 100%;
    flex-wrap: wrap;
    border: 10px double #07552c;

}
.item-text{
   justify-content: center;
   color: black;
   font-size: 20px;
}

.item-2{
    background-image: url(assets\Placeholder.1.jpg);
    background-size: cover;
    width: 40%;
    padding: 25px;
}

.item-2:hover{
    border: 5pt black;
    opacity: 50%;
    padding: 10px;
}

.item-2 img{
    border: 10px double #07552c;
    flex-wrap: wrap;
    max-width: 100%;
}

.contact-me{
    marker-start: none;
    font-size: 16px;
}
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }